version: '3.8'

services:
  app:
    container_name: app
    build: .
    ports:
      - "8000:8000"
#    depends_on:
#      - redis
#    networks:
#      spring-app-network:

#  redis:
#    image: redis:latest
#    container_name: redis
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis_data:/data


#
#volumes:
#  redis_data:

#networks:
#  spring-app-network:
#    driver: bridge
